.cell{
    width: 40px;
    height: 40px;
    border: 2px solid white;
    display: flex;
    align-items: center;
    justify-content: center;

    &.--used{
        background-color: burlywood;
    }

    &.--error{
        background-color: red;
    }

    &.--can{
        background-color: green;
    }
}