.cell{
    width: 40px;
    height: 40px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;


    @include tablet{
        width: 25px;
        height: 25px;
    }

    &.--used{
        background-color: rgb(157, 24, 197);
    }

    &.--error{
        background-color: rgb(248, 102, 102);
    }

    &.--can{
        background-color: rgb(84, 201, 84);
    }
}