.gameplay{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 50px;

    @include mobile{
        padding: 25px 5px;

    }

    @include tablet{
        padding: 10px;
    }

    .gameplay__your-turn, .gameplay__enemy-turn{
        font-size: 25px;
        display: flex;
        gap: 5px;
    }

    .gameplay__your-turn{
        p{
            color: green;
        }
    }

    .gameplay__enemy-turn{
        p{
            color: red;
        }
    }

    .gameplay__boards{
        gap: 50px;
        display: flex;
    }

    .gameplay__player{
        width: 50%;
        display: flex;
        align-items: center;
        flex-direction: column;
        
        .gameplay__player--title{
            font-size: 30px;
            
            @include mobile{
                font-size: 22px;
                text-wrap: nowrap;
            }
        }
    }
}