.gameboard{
    border: 1px solid red;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;

    .gameboard--uppermarks{
        display: flex;
        justify-content: flex-end;
        width: 100%;

    }

    .gameboard__marks--elem{
        height: 40px;
        width: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid black;
    }

    .gameboard__board{
        display: grid;
        grid-template-columns: repeat(10, 40px);
        grid-template-rows: repeat(10, 40px);
    }

    .gameboard__rest{
        display: flex;
    }
}