.ship{
    width: 40px;
    height: 40px;
    cursor:grab;

    background-color: lighten($destroyer, 10%);
    border: 2px solid darken($destroyer, 20%);

    
    &.--Cruiser{
        width: 40*2px;
		background-color: lighten($cruiser, 10%);
		border: 2px solid darken($cruiser, 20%);
    }
    &.--Battleship{
        width: 40*3px;
		background-color: lighten($battleship, 10%);
		border: 2px solid darken($battleship, 20%);
    }
    &.--Carrier{
        width: 40*4px;
		background-color: lighten($carrier, 10%);
		border: 2px solid darken($carrier, 20%);
    }
    
    &.--flipped{
        width: 40px;
        &.--Cruiser{
            height: 40*2px;
        }
        &.--Battleship{
            height: 40*3px;
        }
        &.--Carrier{
            height: 40*4px;
        }
        
    }

    @include tablet{
        width: 25px;
        height: 25px;
    
        &.--Cruiser{
            width: 25*2px;
        }
        &.--Battleship{
            width: 25*3px;
        }
        &.--Carrier{
            width: 25*4px;
        }
    
        &.--flipped{
            width: 25px;
            &.--Cruiser{
                height: 25*2px;
            }
            &.--Battleship{
                height: 25*3px;
            }
            &.--Carrier{
                height: 25*4px;
            }
        
        }
    }
}