.waiting {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 15px;
    text-align: center;

    h1{
        @include mobile{
            font-size: 20px;
        }
    }

	.waiting__players {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 30px;
		font-size: 25px;

        @include mobile{
            font-size: 18px;
        }

		span {
			display: flex;
			gap: 5px;

			p {
				&.--ready {
					color: green;
				}
				&.--notready {
					color: $error;
				}
			}
		}
	}

	.waiting__declare {
		button {
			height: 40px;
			width: 200px;
			border: 1px solid green;
			background-color: transparent;
			font-size: 15px;
			transition: all 0.3s ease;
			cursor: pointer;

			color: var(--text);

			&:hover {
				background-color: green;
				color: white;
			}
		}
	}

	.waiting__invite{
		margin-top: 50px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 10px;

		.waiting__invite--copy{
			height: 30px;
			display: flex;
			align-items: center;
			justify-content: center;
			gap: 15px;
			font-size: 15px;
			
			color: black;
			border: 1px solid black;
			background-color: white;

			transition: all 0.3s ease;
			cursor: pointer;

			&:hover{
				color: white;;
				background-color: black;
			}
		}
	}
}
