.game {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 20px;
	padding: 20px;

	@include tablet {
		padding: 5px;
	}

	.game__left {
		display: flex;
		gap: 50px;

		@include mobile {
			gap: 10px;
		}
	}

	.game--ships {
		width: 160px;
		display: flex;
		align-items: center;
		justify-content: center;

		@include mobile {
			width: 100px;
		}

		.game--ships--wrapper {
			display: flex;
			flex-direction: column;
			gap: 10px;
		}
	}

	.game--buttons {
		display: flex;
		gap: 10px;

		@include mobile {
			flex-direction: column;
		}
	}
}
