.game{
    height: 600px;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;

    .game--ships{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}