.quickgame--wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 500px;

  .quickgame{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 100px;
    width: 100%;
    max-width: 1400px;
    padding: 10px;
  }
}