.ranking{
  color: var(--text);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  max-width: 1400px;
}


.ranking--wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}