.ranking{
  color: var(--text);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 1400px;
  gap: 30px;

  .ranking__list{
    display: flex;
    flex-direction: column;
    gap: 5px;

    .ranking__list--elem{
      width: 700px;
      justify-content: space-between;
      display: flex;
      gap: 5px;
      text-align: center;
      background-color: var(--bgdarker);
      height: 40px;
      align-items: center;
      padding: 10px;
      color: var(--text);
      background-color: var(--);

      @include tablet{
        width: 90vw;
      }

      div{
        width: 116px;

        @include tablet{
          width: fit-content;
        }
      }

      .ranking__list--elem--won, .ranking__list--elem--lost{
        @include mobile{
          display: none;
        }
      }

      .ranking__list--elem--idx{
        width: 30px;
        text-align: left;
      }
    }
  }
  
}


.ranking--wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}