.ship {
    height: 40px;
    background-color: navy;
    opacity: 0.7;
    margin: 5px;
    width: 40px;

    &.--carrier {
        background-color:darkcyan;
        width: 160px;
    }

    &.--battleship {
        background-color:chocolate;
        width: 120px;
    }

    &.--cruiser {
        background-color: blue;
        width: 80px;
    }
    
    &.--destroyer {
        background-color: purple;
    }
}

