@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

*,
*:before,
*:after {
	box-sizing: border-box;
}

* {
	margin: 0;
}

html,
body {
	height: 100%;
	font-family: "Courier New", Courier, monospace;

	background-color: white;

	--bg: white;
	--text: black;
	--bgdarkerl: #eeeeee;
	--bgdarker: #ebeef1;
	--bgdarker2: #d9dcdf;
}

html,
body.--black {
	background-color: #1c1c1f;
	
	--bgdarker: #31313c;
	--bgdarker2: #2a2a33;
	--bg: #1c1c1f;
	--bgdarkerl: #26262b;
	--text: white;
}

button,
input {
	font-family: "Courier New", Courier, monospace;
}

.layout {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.footer {
	margin-top: auto;
}
